.container{
    display: flex;
}
.item{
    list-style: circle;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}
.item a{
    text-decoration: chocolate;
    text-transform: uppercase;
}
.item:hover{
    background-color: rgb(0, 217, 255);
}